@model ApiConsumer.Models.HomeModel

<div class="container">
  <div class="row">
    <div class="col-md-12">
    	<h1>Server: <b>@Model.ServerName</b></h1>
    </div>    
    </div>
  <div class="row">
    <div class="col-md-12">
      <h1>API Response: <b>@Model.ApiResponse</b></h1>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <h1>API Response was cached: <b>@Model.ApiResponseCached</b></h1>
    </div>
  </div> 
</div>